<mat-toolbar color="primary">
    <mat-toolbar-row id="Tools">
        <span>JVC Sports Club</span>
    </mat-toolbar-row>
      
</mat-toolbar><br/>
<br/>
<mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Election Number</mat-label>
    <input matInput type="number"[(ngModel)]="electionnumber">
  </mat-form-field><br/>
  <br/>
  
<mat-form-field class="example-full-width" appearance="fill">
  <mat-label>Position</mat-label>
  <input matInput type="text"[(ngModel)]="position">
</mat-form-field><br/>
  <br/>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Description</mat-label>
    <input matInput type="text"[(ngModel)]="description">
  </mat-form-field><br/>
  <br/>
  <button mat-raised-button color="primary" (click)="OnClick()">Create Poll</button>