<h2>User Registration</h2>
<div class="register">
    
        <label for="firstname">FirstName</label><br/>
        <input type="text" id="firstname"[(ngModel)]="firstname">
        <br/>
        <label for="lastname">LastName</label><br/>
        <input type="text" id="lastname"[(ngModel)]="lastname">
        <br/>
      
        <label for="lastname">Gender</label><br/>
        <input type="text" id="lastname"[(ngModel)]="gender">
        <br/>
      <!---  <select name="gender" >
            <option>Select Gender</option>
            <option>Male</option>
            <option>Female</option>
        </select>
        <br/>-->
         
        <label for="dob">Date of Birth</label><br/>
        <input type="date" name="date" id="dob"[(ngModel)]="dob">
        <br/>
        <label for="Aadhar">Aadhar</label><br/>
        <input type="Aadhar" id="Aadhar"[(ngModel)]="aadhar">
        <br/>
        <label for="email">Email</label><br/>
        <input type="email" id="email"[(ngModel)]="email">
        <br/>
        <label for="password">Password</label><br/>
        <input type="password" id="password"[(ngModel)]="password"><br/>
        <br/>
        <button type="button"(click)="AddUser()">Register</button>

  
</div>
