
<div class="topnav">
  <a class="active" >Home</a>
  <a [routerLink]="['/candidate']"> Reg.Candidate </a>
  <a [routerLink]="['/poll']">Create Poll</a>
  <a  [routerLink]="['/elections']">Elections</a>
  <a >Vote</a>
  
  <a [routerLink]="['/results']">Results</a>
  <a [routerLink]="['']" >Logout</a>
</div>

<div class="home">
  <h1>Welcome Back &nbsp;<b style="text-transform: uppercase;">Mr.{{name}}</b></h1>
  <img src="https://png.pngtree.com/thumb_back/fh260/back_our/20190620/ourmid/pngtree-sports-poster-background-material-image_155755.jpg" width="1260px" height="100%"/>
  
  <!------>
</div>
 



